p {
    color: black;
}

.logo {
    float: left;
}

.main-header{
    display: flex;
    align-items: center;
}

.lead{
    font-weight: bold;
    font-size: 1.1rem;
    font-style: italic;
}

h3{
    margin :10px;
    padding:20px;
    border: 1px solid pink;
}

li{
    color: rgb(104, 1, 1);
    background: rgb(236, 195, 207);
    list-style: disc;
}